.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgb(40, 40, 40);
  height: 80px;
  z-index: 2;
}

.start-time {
  float: left;
  position: relative;
  left: 15px;
}

.end-time {
  float: right;
  position: relative;
  right: 20px;
}

.audio-player {
  background: white;
  border: 1px solid lighten(#acacac, 20%);
  width: 50vw;
  text-align: center;
  display: flex;
  flex-flow: row;
  margin: 4rem 0 4rem 0;
}
