.start-time {
  float: left;
  position: relative;
  left: 15px;
}

.end-time {
  float: right;
  position: relative;
  right: 20px;
}

.audio-player {
  background: white;
  border: 1px solid #dfdfdf;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row;
}
.audio-player .album-image {
  min-height: 100px;
  width: 140px;
  background-size: cover;
}

.album-image > img {
  height: 140px;
  width: 300px;
  background-size: cover;
}

.audio-player .player-controls {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex: 3;
}
.audio-player .player-controls progress {
  width: 90%;
}
.audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: blue;
  height: 5px;
}
.audio-player .player-controls progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #dfdfdf;
  color: blue;
}
.audio-player .player-controls progress::-webkit-progress-value {
  background-color: blue;
}
.audio-player .player-controls p {
  font-size: 1rem;
}

.play-btn {
  background-image: url("http://www.lukeduncan.me/images/play-button.png");
  background-size: cover;
  width: 75px;
  height: 75px;
  margin: 2rem 0 2rem 2rem;
}
.pause {
  background-image: url("http://www.lukeduncan.me/images/pause-button.png");
  background-size: cover;
  width: 75px;
  height: 75px;
  margin: 2rem 0 2rem 2rem;
}

audio {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
